DB_URL=jdbc:mariadb://localhost:3306/attestation_db?useUnicode=true&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=
JWT_SECRET=Q0hBTkdFX01FX0pXVF9TRUNSRVRfRk9SX0xPQ0FMX0RFVl9PTkxZX18xMjM0NTY3ODkw
VITE_API_BASE_URL=http://localhost:8080/api
